html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-family: "Bevan", sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
  margin: 0;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0px;
}

a {
  color: #fff;
  background-color: #713837;
  text-decoration: none;
  padding: .6em .5em .75em;
  margin: .3em;
  border-radius: 5px
}

ul {
  text-align: center;
  list-style-type: none;
}

li{
  display: inline-block;
}

a:hover {
  background-color: #f33;
}

header {
  background-color: #79756f;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #595652;
}
