html {
  box-sizing: border-box;
  font-family: Bevan;
  line-height: 1.5;
  background-color: #dbd6cf;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Bevan;
  text-align: center;
  color: #fff;
  margin: 0;
}

a {
  color: #fff;
  font-style: normal;
  font-family: sans-serif;
  background-color: #713837;
  text-decoration: none;
  padding: .6em .5em .75em;
  margin: .3em;
  border-radius: 5px;
}

ul {
  text-align: center;
  list-style-type: none;
}

li {
  display: inline-block;
}

a:hover {
  background-color: #f33;
}

header {
  background-color: #79756f;
  padding-bottom: 20px;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}
