html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-family: "Bevan", sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
}

h1 {
  text-align: center;
}

a {
  color: #fff;
  background-color: #713837;
  text-decoration: none;
  padding: .6em .5em .75em;
}

ul {
  text-align: center;
  list-style-type: none;
}

li{
  display: inline-block;
}

a:hover {
  background-color: #f33;
}
